<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete {{ id }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}" />
</head>
<body>
    <h2>Welcome {{ request.session.first_name }} {{ request.session.last_name }}</h2>
    <table>
        {% if messages.tag == sucesses %}
        <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <ul>
            <p><b>Your information</b></p>
            <p>Name: {{ request.session.first_name }} {{ request.session.last_name }}</p>
            <p>Email: {{ request.session.email }}</p>
            <p>Username: {{ request.session.username }}</p>
        </ul>

            <a href="/login/edit/{{ request.session.username }}">Edit</a>
{#        {% endfor %}#}
    </table>
    <hr>
    <a href="/login">Return to add page</a><br><br>
    <a href="/log_out">Log Out?</a>
</body>
</html>