<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}" />
    </head>
    <body>
        <!-- registration form -->
        <form id ="reg_form" class="reg_form" action="/login/register" method="post"> {# TODO ACTION FIELD #}
            {% csrf_token %}
            <fieldset>
            <legend>User Registration Form</legend>
            <div class="flash_messages">
                <!-- put message stuff here -->
                {% if request.session.log_reg == 'reg' %}
                   <ol class="messages">
                       {% for message in messages %}
                         <li class="{{ message.tags }}">{{ message }}</li>
                       {% endfor %}
                     </ol>
                   {% endif %}
            </div>
            <label for="first_name">First Name:</label><br>
            <input type="text" name="first_name" id='first_name' placeholder="First Name">
            <br>
            <label for="last_name">Last Name:</label><br>
            <input type="text" name="last_name" id='last_name' placeholder="Last Name">
            <br>
            <label for="username">User Name:</label><br>
            <input type="text" name="username" id='username' placeholder="User Name">
            <br>
            <label for="email">Email: </label><br>
            <input type="email" name="email" id='email' placeholder="some@email.com">
            <br>
            <br>
            <label for="password">Password: </label>
            <input type="password" name="password" id='password' placeholder="Type your password.">
            <br>
            <label for="password_confirm">Confirm Password: </label>
            <input type="password" name="password_confirm" id='password_confirm' placeholder="Retype your password.">
            <br>
            <br>
            <label for="dob_date">Birthdate:</label>
            <input type="date" name="dob_date" id='dob_date'>
            <br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
            </fieldset>
        </form>
        <!-- end registration form -->
{#        <hr>#}
        <form id ="loginform" class="loginform" action="/login/log_in" method="post"> {# TODO ACTION FIELD #}
            {% csrf_token %}
            <fieldset>
            <legend>User Login Form:</legend>
            <div class="login">
                <!-- put message stuff here -->
                {% if request.session.log_reg == 'log' %}
                   <ol class="messages">
                       {% for message in messages %}
                         <li class="{{ message.tags }}">{{ message }}</li>
                       {% endfor %}
                     </ol>
                   {% endif %}
            </div>
            <label for="logemail">Email or Username: </label><br>
            <input type="text" name="username"  placeholder="Your Username or Email" id='logemail' autofocus>
            <br>
            <label for="logpassword">Password: </label><br>
            <input type="password" name="password" id='logpassword' placeholder="Type in your password.">
            <br>
            <input type="submit" value="Login">
            </fieldset>
        </form>
    </body>
</html>