body{
    background-color: antiquewhite;
}
.reg_form{
    display: inline-block;
    margin-left: 10%;
}
.loginform{
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}
.right{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    position: relative;
    left: 10%;
}
.left{
    margin-left: 2%;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.logout{
    position: absolute;
    right:5%;
    top: 5%;
}
li{
    list-style: none;
}